.header-container, .start-container, .results-container {
    text-align: center;
}

#start-button {
    padding: 50px 175px 50px 175px;
    text-align: center;
}

#time, #show-time {
    margin-top: 20px;
    text-align: center;
}

.trivia-container {
    margin-top: 20px;
}